@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}


h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}


p a, li a{
  font-weight: bold;
  border-bottom: 1px dotted;
}

.caption {
	color: #3182bd;
}
